{% extends "base.html" %}

{% block content %}

<div class="container mx-auto overflow-hidden ">

 <!-- Clear visual separator -->
 <hr class="my-2" style="color: blue;">

  <!-- Fullscreen layout with 3 sections -->
  <div class="w-full h-screen flex flex-col lg:flex-row py-4">

      <!-- First Section: Adjusts to Content Width -->
      <div class="w-auto h-auto lg:h-full flex-shrink-0 px-4 overflow-hidden">

        <div class="sticky top-0 p-4 bg-gray-100 rounded-xl w-full h-full">
          
            <ul class="flex gap-2 sm:flex-col overflow-hidden content-center justify-center">
              
                <li onclick="setActiveSegment(this)" class="px-2 py-2 hover:bg-blue-300 rounded segment">
                    <a class="truncate" hx-get="/segment" hx-target="#segment">
                        <span>Stock Broker</span>
                    </a>
                </li>
                <li onclick="setActiveSegment(this)" class="px-2 py-2 hover:bg-blue-300 rounded segment">
                    <a class="truncate" hx-get="/segment" hx-target="#segment">
                        <span >MF/PMS</span>
                    </a>
                </li>
                <li onclick="setActiveSegment(this)" class="px-2 py-2 hover:bg-blue-300 rounded segment">
                    <a class="" hx-get="/segment" hx-target="#segment">
                  
                        <span >RA/IA</span>
                    </a>
                </li>
              
            </ul>
        </div>


      </div>

      <!-- Second Section -->
      <div class="w-full h-auto lg:h-full flex-shrink-0 px-4 overflow-hidden">
        
          <div id ='segment' class="lg:w-3/4 w-full overflow-hidden">

          </div>
        
      </div>

  
  </div>

</div>

<script>


 function setActiveTab(clickedButton) {
   // Remove active class from all tabs
   document.querySelectorAll('.symbol').forEach(button => {
     button.classList.remove('tab-active');
    // button.classList.add('border-transparent', 'text-gray-500');
   });

   // Add active class to the clicked tab
   clickedButton.classList.add('tab-active');
   //clickedButton.classList.remove('border-transparent', 'text-gray-500');
 }


 function setActiveSegment(clickedButton) {
     // Remove active class from all tabs
     document.querySelectorAll('.segment').forEach(button => {
       button.classList.remove('bg-blue-300');
      // button.classList.add('border-transparent', 'text-gray-500');
     });

     // Add active class to the clicked tab
     clickedButton.classList.add('bg-blue-300');
     //clickedButton.classList.remove('border-transparent', 'text-gray-500');
   }

  // Get the content of the #content div
  const segmentDiv = document.querySelector('#segment');

  // Check if the #content div is empty
  if (!segmentDiv || segmentDiv.innerHTML.trim() === '') {
      // Make an HTMX request to fetch the data dynamically
      htmx.ajax('GET', '/segment', '#segment');
  }

 
</script>


  {% endblock %}