
  <div class="container sm shadow-xl">

    <div class="card-body">

      <div>
        <h2 class="card-title">{{exchange}} Circulars</h2>
       <!-- You can open the modal using ID.showModal() method -->
       <dialog id="my_modal_3" class="modal">
         <div class="modal-box">
           <form method="dialog">
             <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
           </form>
           <h3 class="text-lg font-bold">Circulars Details</h3>
           <p id="modal-content" class="py-4">Row data will be displayed here.</p>
         </div>
       </dialog>
       

      </div>


      <div class="overflow-x-auto">
        <table class="table table-xs">
          <thead>
            <tr class="neutral-content" >

              <th>Subject</th>
              <th>Date</th>
              <th>Circular</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in data %}
            <tr class="hover:bg-base-200" onclick="openRowModal(this)">

            <td>{{ entry.title}}</td>
             <td>{{ entry.date}}</td>
             <td><a class="link link-primary" href="{{ entry.link }}" 
                   target="_blank" rel="noopener noreferrer">View</a></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

 </div>



<script>
 const data = JSON.parse('{{ data | tojson | safe }}');
 console.log("Data:", data); // Safely log the data
 
</script>

<script>
const myModal = document.getElementById("my_modal_3");

function openRowModal(row) {
 // Extract data from the row
 const rowData = Array.from(row.children).map((cell) => cell.textContent);

 // Format the data to display in the modal
 const modalContent = `
   <ul>
     <li><strong>Subject:</strong> ${rowData[0]}</li>
     <li><strong>Date:</strong> ${rowData[1]}</li>
     <li><strong>URL:</strong> ${rowData[2]}</li>
   </ul>
 `;

 // Update modal content
 document.getElementById("modal-content").innerHTML = modalContent;

 // Show modal
 myModal.showModal();
}
</script>
