<div class ="container overflow-hidden">

  <div class="lg:w-3/4 w-full overflow-hidden">

       <!-- Tabs -->
       <div role="tablist" class="tabs tabs-bordered">

          <button 
            role="tab"
            hx-get="/data/SEBI" 
            hx-target="#content" 
            class="tab symbol tab-active"
            onclick="setActiveTab(this)">SEBI</button>

         <button 
           role="tab"
           hx-get="/data/NSE" 
           hx-target="#content" 
           class="tab symbol"
           onclick="setActiveTab(this)">NSE</button>



           <button 
             role="tab"
             hx-get="/data/BSE" 
             hx-target="#content" 
             class="tab symbol"
             onclick="setActiveTab(this)">BSE</button>

           <button 
             role="tab"
             hx-get="/data/MCX" 
             hx-target="#content" 
             class="tab symbol"
             onclick="setActiveTab(this)">MCX</button>

       </div>

       <!-- Dynamic Content Area -->
       <div id="content" class="mt-2 overflow-hidden">

         
       </div>


  </div>

  </div>

 </div>



<script>
  
 const data = JSON.parse('{{ data | tojson | safe }}');
 console.log("Data:", data); // Safely log the data

  // Check if `data` is empty
  if (!data ) {
      // Make an HTMX request to fetch the data dynamically
      htmx.ajax('GET', '/data/SEBI', '#content');
  }

  // Get the content of the #content div
  const contentDiv = document.querySelector('#content');

  // Check if the #content div is empty
  if (!contentDiv || contentDiv.innerHTML.trim() === '') {
      // Make an HTMX request to fetch the data dynamically
      htmx.ajax('GET', '/data/SEBI', '#content');
  }

 
</script>



